.container{
    width:45%
}

h1{
    font-size: 2.5rem;
    color: var(--theme-green);
}


.contribute{
    width: 96%;
    height: 100%;
    border-radius: 20px;
    padding: 5%;
    margin: 2% 0;
    background-color: #262626;
    backdrop-filter: blur(5px);
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: default;
}

.contribute li a{
    align-items: start;
    justify-content: start;
}

.name{
    color: var(--theme-primary);
    margin-top: 1%;
    font-size: 1.5rem;
}

.student{
    color: #fff;
    margin-top: 1%;
    font-size: 1.2rem;
}

.play{
    color: #fff;
    margin-top: 1%;
    font-size: 1.5rem;
}

.image-of-developer{
    margin: auto;
}

.editorImage{
    width: 200px;
    border-radius: 100%;
    border-color: green;
    border-width: 3px;
    border-style: solid;
}


/* Media queries */
@media screen and (max-width: 768px) {
    .container {
        width: 80%; /* Adjust width for smaller screens */
    }

    .contribute {
        width: 90%; /* Adjust width for smaller screens */
        padding: 3%; /* Adjust padding for smaller screens */
    }

    .name,
    .student,
    .play {
        font-size: 1.2rem; /* Adjust font size for smaller screens */
    }

    .editorImage {
        width: 150px; /* Adjust editor image width for smaller screens */
    }

    img{
        height: auto;
    }
}

@media screen and (max-width: 576px) {
    .container {
        width: 90%; /* Further adjust width for even smaller screens */
    }

    .contribute {
        width: 100%; /* Adjust width for even smaller screens */
        padding: 2%; /* Adjust padding for even smaller screens */
    }

    .name,
    .student,
    .play {
        font-size: 1rem; /* Further adjust font size for even smaller screens */
    }

    .editorImage {
        width: 120px; /* Further adjust editor image width for even smaller screens */
    }

    img{
        height: auto;
    }
}